BestFriends/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57487/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService10" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q1:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q2:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetUserResult" nillable="true" type="q3:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfPets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfPetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfPetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfDogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfDogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfDogsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfCats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfCatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfCatsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetPetResult" nillable="true" type="q4:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetCustomersResult" nillable="true" type="q5:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetAdminsResult" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetManagersResult" nillable="true" type="q7:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetDogResult" nillable="true" type="q8:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetCatResult" nillable="true" type="q9:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddtoCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetItemsResult" nillable="true" type="q10:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFromCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q11:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q12:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q13:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q14:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Pet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pet_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="Get_PetResult" nillable="true" type="q15:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q16:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOfferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfOffers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfOffersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveOfferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetOfferResult" nillable="true" type="q17:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q18:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOfferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q19:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q20:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetInvoiceUserResult" nillable="true" type="q21:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q22:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetInvoicePetResult" nillable="true" type="q23:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata" nillable="true" type="q24:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetDayInvoicesResult" nillable="true" type="q25:ArrayOfInvoice1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewInvoiceUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="tempdata1" nillable="true" type="q26:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewInvoiceUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="ViewInvoiceUserResult" nillable="true" type="q27:TempData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetMonthInvoicesResult" nillable="true" type="q28:ArrayOfInvoice1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearInvoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetYearInvoicesResult" nillable="true" type="q29:ArrayOfInvoice1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfService10" minOccurs="0" name="GetYearHistoryResult" nillable="true" type="q30:ArrayOfInvoice1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>